<html>
<head>
  <meta charset="UTF-8">
  <title>Vehicles</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <style>
    tr input {
      display: none;
    }

    tr.editing input {
      display: inline;
    }

    tr span {
      display: inline;
    }

    tr.editing span {
      display: none;
    }

    tr.editing .edit {
      display: none;
    }

    tr .edit {
      display: inline;
    }

    tr.editing .done {
      display: inline;
    }

    tr .done {
      display: none;
    }
  </style>
</head>
<body>
  <table id="vehicles" class="pure-table">
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="entries"></tbody>
    <tfoot>
      <tr>
        <td><a class="add" href="#">Add New Vehicle</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>

  <script type="text/template" id="vehicle-template">
      <td><span><%= nickname %></span> <input class="nickname" type="text" name="nickname" value="<%= nickname %>"></td>
      <td><span><%= year %></span> <input class="year" type="text" name="year" size="4" value="<%= year %>"></td>
      <td><span><%= make %></span> <input class="make" type="text" name="make" value="<%= make %>"></td>
      <td><span><%= model %></span> <input class="model" type="text" name="model" value="<%= model %>"></td>
      <td><a class="edit" href="#">Edit</a>  <a class="done" href="#">Done</a>  <a class="del" href="#">Delete</a></td>
  </script>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="js/models/vehicle.js"></script>
  <script src="js/collections/vehicles.js"></script>
  <script src="js/views/vehicle-view.js"></script>
  <script src="js/views/app-view.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
